<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>
<h1>{{.Name}}</h1>
<h2>{{.Mark}}</h2>
{{if .OfTheLine}}
<h3>Of the Dinochrome Brigade.</h3>
{{else}}
<h3>Still a sibling in arms.</h3>
{{end}}
</body>
</html>