<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test Serve</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

  <img src = "assets/surf2.jpg" alt = "surf">

  <h1 id = "header_color1">Header 001</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus beatae enim inventore ratione tempora! Asperiores
    deleniti, deserunt dolorem ducimus ex impedit maiores, minima minus quam quos rerum similique veritatis,
    voluptate.</p>

  <h1 id = "header_color2">Header 002</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad atque beatae deleniti dignissimos dolor
    exercitationem facilis magni modi molestiae nisi, officiis quisquam recusandae soluta voluptatum! Aliquid cumque
    iusto similique.</p>

  <h1 id = "header_color3">Header 003</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis enim facere fuga illo ipsam nam nesciunt quo,
    ratione repudiandae sunt velit voluptatibus! Accusantium animi error, impedit minima nihil quibusdam temporibus.</p>

  <p>Ab blanditiis consectetur, consequuntur distinctio ducimus id ipsum minus necessitatibus neque perspiciatis quas
    repellendus saepe sit soluta suscipit! Accusantium architecto asperiores, dicta eligendi et facilis magnam optio
    quaerat reprehenderit sit.</p>

  <h1 id = "header_color4">Header 004</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab alias asperiores consequatur deleniti dolor doloribus
    ducimus esse fugiat hic incidunt libero magni molestiae, mollitia odit rem sapiente suscipit ullam veniam!</p>

</body>
</html>
